        /* Feito para telas Médias (tablets) */

@media screen and (max-width: 1210px) and (min-width: 720px) {

    /* Imagem no Topo da página */

    .promocao{
        display: flex;
        overflow: hidden;
        height: auto;
        width: 100%;
        /* object-fit: cover; */
        margin-left: 0%;
        /* padding-right: 70px; */
        justify-content: center;
        cursor: pointer;
    }

    .promocao a img{
        display: flex;
        /*overflow: hidden; */
        overflow-x: hidden;
        /* object-fit: fill; */
        height: auto;
        width: 175vw;
        margin-left: 0%;
        /* justify-content: center; */
        cursor: pointer; 
    }

        /* Opções de fundo cinza claro */

    .servicosSuporte{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(222, 221, 221);
        padding: 3px 5px 0px 2%;
    }

    .abas{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        padding: 0px 0px 1px 8px;
        margin-bottom: -5px;
    }

    .abas a p{
        font-size: 12px;
    }

    .shopping a{
        background-color: white;
        color: #2571ff;
        font-weight: bold;
        display: flex;
        border-radius: 5px 5px 0 0 ;
        padding: 5px 7px 3px 7px;
        margin-bottom: 4px;
        text-decoration: none;
    }

    .shopping a:hover{
        background-color: #f5f4f4;
        color: #1e6af6;
    }

    .mercado a{
        background-color: rgb(208, 21, 21);
        color: #eee;
        font-weight: bold;
        display: flex;
        border-radius: 5px 5px 0 0;
        padding: 5px 14px 3px 14px;
        margin-bottom: 4px;
        text-decoration: none;
    }

    .mercado a:hover{
        background-color: rgb(194, 16, 16);
        color: #f5f4f4;
    }

    .servicos a{
        background-color: rgb(14, 14, 193);
        color: #eee;
        font-weight: bold;
        display: flex;
        border-radius: 5px 5px 0 0 ;
        padding: 5px 14px 3px 14px;
        margin-bottom: 4px;
        text-decoration: none;
    }
    
    .servicos a:hover{
        background-color: rgb(13, 13, 171);
        color: #f5f4f4;
    }
    
    
    .shopping p, .mercado p, .servicos p{
        margin: 0 0 0 10px;
        font-size: 14px;
    }

    .contatos{
        display: flex;
        position: absolute;
        right: 1%;
        flex-wrap: nowrap;
        padding: 0 0 5px 0;
    }

    .contatos a, .contatos p{
        margin: 0 0 0 7px;
        font-size: 10px;
        font-style: none;
        text-decoration: none;
        color: black;
    }

    .contatos a:hover, .contatos p:hover{
        color: #2571ff;
    }

    .televendas .contatoTelevendas{
        display: none;
    }
    .televendas:hover .contatoTelevendas{
        position: absolute;
        display: block;
        margin: 0 0 0 -60px;
        z-index: 1;
    }

    .nossasLojas .contatoTelevendas{
        display: none;
    }
    .nossasLojas:hover .contatoTelevendas{
        position: absolute;
        display: block;
        margin: 0 0 0 -27px;
    }

    .televendas p, .nossasLojas p{
        cursor: pointer;
    }


        /* container branco com os icones e pesquisar */

        .iconeTresBarras{  
            font-size: 20px;
            padding-top: 0px;
            margin-top: -10px;
            color: #0a58ca;
        }

    #botaoMobile{
        display: block;
        margin-right: 10px;
    }

    
        /* Botao padrao do bootstrap, porém personalizado */
    .btn-primarySegundo{
        color:#fff;
        background-color:#0d6efd;
        border-color:#0d6efd
    }
    .btn-primary:hover{
        color:#fff;background-color:#0b5ed7;
        border-color:#0a58ca
    }
    
    .varios-icones{
        margin-left: 3%;
        margin-right: 1%;
    }

    .user-container-bemVindo, .user-container-meuCarrefour, .user-container-meusPedidos, .user-container-minhasListas, .user-container-carrinho{
        cursor: pointer;
        display: flex;
        text-decoration: none;
        color: #1e6af6;
        align-items: center;
    }

    .user-container-bemVindo .icones, .user-container-meuCarrefour .icones, .user-container-meusPedidos .icones, .user-container-minhasListas .icones, .user-container-carrinho .icones{
        color: #1e6af6;
        border: none;
        font-size: 30px;
        font-weight: 500;
        background-color: transparent;
        display: flex;
        align-items: center;
    }

    .icones{
        margin: 0 10px 0 0;
    }

            /* Campo azul aparece apenas em telas desktop
            Em mobile está dentro da caixa acessível pelo ícone */

    .sugestoesDesktop{
        display: none;
    }

    .user-container-bemVindo .textoIcones, .user-container-meuCarrefour .textoIcones, .user-container-meusPedidos .textoIcones, .user-container-minhasListas .textoIcones, .user-container-carrinho .textoIcones{
        display: none;
        color: black;
        height: 30px;
    }

    .varios-icones{
        display: flex;
        align-items: center;
    }

    .logo-carrefour{
        height: 32px;
        display: flex;
    }

    .pesquisas{    
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 50px 10px 50px;
    }

    .pesquisas .logo-carrefour{
        margin-right: 6px;
    }

    .divSearch{
        background-color:#eee;
        border:solid 1px #2571ff;
        border-radius:5px;
        width:40%;
        height:37px;
        display: flex;
    }
    
    #input-search{
        float:left;
        background-color:transparent;
        padding-left:5px;
        font-size:14px;
        border:none;
        height:36px;
        width:493px;
        outline: none;
        font-size: 14px;
        box-sizing: border-box;
    }
    
    #button-search{
        border:none;
        float:right;
        height:35px;
        font-size: 20px;
        color: #eee;
        /* border-radius:0 5px 5px 0; */
        width:50px;
        background:#2571ff;
        cursor: pointer;
    }

        /* Garante a separação dos itens na aba de
        pesquisas e icones */

    .user-container {
        display: flex;
        align-items: center;    
        margin: 0px 8px 0 0px;
        cursor: pointer;
    }

    .user-container p{
        flex-direction: column;
    }

    .texto {
        display: block;
        width: 60px;
    }

    #moeda{
        color: rgb(230, 230, 2);
    }

    #numeroCarrinho {
        background-color: green;
        width: auto;
        height: auto;
        color: #eee;
        font-weight: bold;
        padding: 1px 6px;
        border-radius: 50%;
        display: flex;
        margin: -10px 10px 5px -12px ;
    }


        /* Lista de tags com fundo azul */

    .offcanvas-body .sugestoes .selecoes-container .selecoes a, #todosDepartamentos{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: -120px;
    }


    .sugestoes{
        background-color: #2571ff;
        height:auto;
        display: flex;
        justify-content: center;
    }

    .selecoes a, .selecoes p, .departamentoContainer{
        color: #fff;
        text-decoration: none;
        align-items: center;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 6px 11px 7px;
        margin: 0 4px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .selecoes-container{
        margin: 2px 20px;
    }

    .selecoes a:hover, .selecoes p:hover, .departamentoContainer:hover{
        background-color: #fff;
        color: #2571ff;
        text-decoration: underline;
    }


    #cartao{
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 2px 8px 11px 8px;
    }

    #cardIcon{ 
        display: none;
        font-size: 16px;
        align-items: center;
        font-weight: bold;
        padding: 0 5px 0 0;
    }

    .departamentoContainer .Departamentos{
        display: none!important;
    }

    .opcoesDepartamentos{
        display: none;
    }

    .departamentoContainer:hover .opcoesDepartamentos{
        display: block;
        position: absolute;
        left: 240px;
        top: 25px;
        z-index: 1;
    }
    .departamentoContainer:hover #todosDepartamentos{
        color: #2571ff;
        z-index: 1;
    }
    
    #todosDepartamentos{
        font-weight: bold;
        font-size: 16px;
        z-index: 1;
    }

    .departamentoContainer{
        padding: 0;
        z-index: 1;
    }

    .setaDeVoltarTela{
        position: absolute;
        font-size: 28px;
        padding: 10px;
        border: none;
        background-color: transparent;
        color: black;
    }
}