        /* Classes como spinner, card e btn foram tiradas do bootstrap e
        foram pesonalizados */

.procurarCep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.procurarCepInterativo{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.procurarCep p{
    display: block;
    margin: 1rem auto;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(50, 101, 254);
}

.btnPersonalizado{
    display: flex;
    font-weight:400;
    white-space: nowrap;
    color:white;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    background-color: rgb(60, 117, 250);
    padding:.14rem .75rem;
    margin: 7px auto;
    font-size:1rem;

    transition:color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out
}

.card-footerPersonalizado{
    padding:0rem 1rem 0rem 1rem;
    background-color:rgba(0,0,0,.03);
    border-top:none;
    padding:.5rem 1rem;
    display: flex;
    white-space: nowrap;
}

.card-footerBotaoPersonalizado{
    display: flex;
    justify-content: center;
    
}

.col-md-2Personalizado{
    flex:0 0 auto;
    width:15.66666667%;
    margin: 5px 5px;
    padding: 1px 3px 0 8px;
}

.precoPersonalizado{
    font-size: 22px;
    margin: 0 auto;
    color: rgb(50, 101, 254);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card-footerPersonalizado p{
    display: flex;
    justify-content: center;
}


    /* Feito para telas Mobiles e médias (Smartphones e Tablets) */
        @media screen and (max-width: 1210px) {

            .col-md-2Personalizado{
                flex:0 0 auto;
                width:17.66666667%;
                margin: -5px 5px;
            }
            .card-titlePersonalizado{
                margin-bottom:.2rem;
                font-size: 1rem;
            }
            .cardPersonalizado{
                position:relative;
                display:flex;
                flex-direction:column;
                min-width:0;
                min-height: 383px;
                margin: 1rem 0px;
                word-wrap:break-word;
                background-color:#fff;
                background-clip:border-box;
                border:1px solid rgba(0,0,0,.1);
                border-radius:.25rem
            }
            .precoPersonalizado{
                font-size: 22px;
                margin: 0 auto;
                color: rgb(50, 101, 254);
                font-weight: bold;
                display: flex;
                justify-content: center;
            }
        }

                /* Tela de tamanho específico, foi criado para não gerar problemas */

        @media screen and (max-width: 950px) and (min-width: 720px) {

            .col-md-2Personalizado{
                flex:0 0 auto;
                width:21.66666667%;
                margin: -5px 5px;
            }
            .card-titlePersonalizado{
                margin-bottom:.2rem;
                font-size: 1rem;
            }
            .cardPersonalizado{
                position:relative;
                display:flex;
                flex-direction:column;
                min-width:0;
                min-height: 383px;
                margin: 1rem 0px;
                word-wrap:break-word;
                background-color:#fff;
                background-clip:border-box;
                border:1px solid rgba(0,0,0,.1);
                border-radius:.25rem
            }
            .precoPersonalizado{
                font-size: 22px;
                margin: 0 auto;
                color: rgb(50, 101, 254);
                font-weight: bold;
                display: flex;
                justify-content: center;
            }
        }


            /* Css para telas Mobile (Smartphones) */

        @media screen and (max-width: 720px) {

            .col-md-2Personalizado{
                flex:0 0 auto;
                width:28.66666667%;
                margin: -5px 5px;
            }
            .card-titlePersonalizado{
                margin-bottom:0rem;
                font-size: 0.75rem;
            }
            .cardPersonalizado{
                position:relative;
                display:flex;
                flex-direction:column;
                min-width:0;
                min-height: 300px;
                margin: 0.5rem 0px;
                word-wrap:break-word;
                background-color:#fff;
                background-clip:border-box;
                border:1px solid rgba(0,0,0,.1);
                border-radius:.25rem
            }
            .precoPersonalizado{
                font-size: 16px;
                white-space: nowrap;
                margin: 0 auto;
                color: rgb(50, 101, 254);
                font-weight: bold;
                display: flex;
                justify-content: center;
            }
        }



.card-bodyPersonalizado{
    flex:1 1 auto;
    padding:0.5rem 0.5rem;
}



.spinner-borderPersonalizado{
    display:inline-block;
    width:2rem;
    height:2rem;
    vertical-align:-.125em;
    -webkit-animation:1s linear infinite spinner-border;
    animation:1s linear infinite spinner-border
}

.imagemLogoCarregando{
    height: 30px;
    display: flex;
    flex: column;
}

.escritoCarregando{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.rowPersonalizado{
    --bs-gutter-x:0rem;
    --bs-gutter-y:0rem;display:flex;
    flex-wrap:wrap;
    margin-top:calc(-1 * var(--bs-gutter-y));
    margin-right:calc(-.2 * var(--bs-gutter-x));
    margin-left:calc(-.2 * var(--bs-gutter-x))
}